<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @menu.desc %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @menu.visible %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', :back %>
